.header
  padding: 30px 0
  +box
  +space-nw
  position: relative
  z-index: 10

  .logo
    width: 250px
    margin-right: 90px

  &_right
    display: flex
    flex-direction: column
    width: 100%

    &_top, &_bottom nav ul
      +space

    &_top
      margin-bottom: 30px

    &_bottom
      nav
        ul
          list-style: none
          padding: 0
          margin: 0

          a
            @include font($white, $regular, 400, 24px, 1)
            text-decoration: none

            &:hover
              text-decoration: underline

  &__address, &__phone
    display: flex
    align-items: center

    p, a
      @include font($white, $regular, 400, 18px, 1.3)

    p
      &:not(:last-child)
        margin-bottom: 5px

    a
      font-size: 28px
      line-height: 1
      text-decoration: none

      &:hover
        text-decoration: underline

  &__icon
    width: 55px
    height: 55px
    +center
    background: white
    +round
    margin-right: 25px

  &_bottom
    padding-bottom: 20px
    background-color: rgba(53, 43, 36, 0.1)

  &_gradient
    background: linear-gradient(to right, #5B4B40, #352B24)

  &__title
    margin: 0.5rem 0 0
    font-weight: 400

.breadcrumbs
  padding-top: 25px
  font-family: PT, sans-serif

  &__list
    margin: 0
    padding: 0
    display: flex
    list-style: none
    flex-wrap: wrap

    li
      white-space: nowrap

    a
      margin-right: 63px
      position: relative
      text-decoration: none
      color: $textBrown

      &::after
        content: ""
        position: absolute
        height: 5px
        width: 5px
        background-color: #999999
        top: 45%
        right: -33px
        transform: rotate(45deg)

    span
      color: $textLightBlack
