.s_hero
  margin-top: -180px
  margin-bottom: 80px
  position: relative

  .hero__slider .slick-slide
    z-index: 1
    padding: 250px 0 200px
    background-size: cover !important
    position: relative

  .slick-dots
    position: absolute
    left: 305px
    bottom: 100px

    li
      button
        background: #C4C4C4

      &.slick-active
        button
          background: $lightBeige

.hero
  h1
    @include font($white, $regular, 400, 72px, 1.2)
    max-width: 600px
    margin: 0 0 40px

  .tagline
    @include font($white, $pt, 400, 24px, 1)
    margin-bottom: 60px

  &__link
    background: $beige
    padding: 35px 45px
    max-width: 510px
    width: 100%
    +box
    position: absolute
    bottom: 0
    right: 0
    +border-radius(25px 0 0 0)
    color: $white

    p
      @include font($white, $regular, 400, 24px, 1.3)
      max-width: 370px
      margin-bottom: 20px

    a
      margin-left: 15px
      @include font($white, $regular, 400, 16px)
      text-decoration: none
      position: relative

      &::after
        background: $white
        height: 1px
        position: absolute
        bottom: 2px
        width: 100%
        content: ' '
        left: 0
        right: 0
        opacity: 0.2
        +transition

      &:hover::after
        opacity: 1
        +transition

.s_about
  margin-bottom: 100px

  .wrapper_fullHD
    overflow-y: hidden

    .subtitle
      left: -50px

.about
  position: relative

  &__content
    position: relative
    background: linear-gradient(343.52deg, rgba(0, 0, 0, 0.6) -31.97%, rgba(0, 0, 0, 0) 58.97%), linear-gradient(114.11deg, rgba(0, 0, 0, 0.6) -38.83%, rgba(0, 0, 0, 0) 84.22%), url("../images/about.jpg")
    background-size: cover
    +border-radius(25px)
    +space
    padding: 70px 70px 90px
    +box

    &_half
      width: 45%

      p
        @include font($white, $pt)

        &:not(:last-child)
          margin-bottom: 40px

    &__logo
      width: 250px
      margin-bottom: 130px

    &__quote
      @include font($white, $size: 36px, $line: 1.4)
      max-width: 320px
      margin-bottom: 20px

      &__icon
        width: 65px
        height: 65px
        position: relative
        background: rgba(255, 255, 255, 0.2)
        backdrop-filter: blur(12px)
        +round
        margin-bottom: 35px

        img
          position: absolute
          right: -10px
          bottom: -10px

    &__author
      margin-bottom: 50px
      @include font($white)

    &__year
      max-width: 380px
      margin-left: auto
      @include font($white, $size: 18px)
      position: relative
      margin-right: 50px

      &__num
        @include font($white, $size: 190px, $line: 1)
        margin-bottom: -135px
        margin-top: 20px

      svg
        position: static

      &::after
        position: absolute
        content: url("../images/star.svg")
        width: 60px
        height: 60px
        right: -110px
        top: 0

  > svg
    width: 1700px
    position: absolute
    bottom: -120px
    z-index: -1
    right: 0

.s_spec
  margin-bottom: 120px

  .subtitle
    right: 0
    top: -45px

.spec
  .innerTitle
    max-width: 530px

  &__list
    +space

    &__item
      position: relative
      height: 430px
      +border-radius(10px)
      +center
      overflow: hidden
      width: 32.5%
      margin-bottom: 20px

      &__img
        +full

      .gradient
        background: linear-gradient(2.35deg, rgba(0, 0, 0, 0.6) -46.95%, rgba(0, 0, 0, 0) 85.24%)
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        +transition

      &__content
        position: absolute
        padding: 40px
        top: 250px
        +transition

        &__title
          @include font($white, $regular, 400, 32px, 1.2)
          margin-bottom: 15px

          &::before
            content: ' '
            display: block
            height: 2px
            width: 25px
            background: $lightBeige
            margin-bottom: 25px

        p
          @include font($white, $pt, 400, 14px, 1.5)
          margin-bottom: 40px
          max-height: 105px
          overflow: hidden

        .btn_beige
          margin-bottom: 10px

        .btn, p
          opacity: 0
          +transition

        .btn
          width: 100%
          justify-content: center

      &:hover
        .gradient
          background: linear-gradient(2.35deg, rgba(0, 0, 0, 0.6) -46.95%, rgba(0, 0, 0, 0) 85.24%), rgba(94, 80, 63, 0.8)
          backdrop-filter: blur(10px)
          +transition

        .label
          opacity: 0
          +transition

        .spec__list__item__content
          top: 0
          +transition

          .btn, p
            opacity: 1
            +transition

      &_all
        +center
        flex-direction: column
        background: $lightBeige

        img
          width: 100px
          margin-bottom: 25px

        &__title
          @include font($textBlack, $regular, 400, 26px, 1.3)
          margin-bottom: 30px
          max-width: 330px
          text-align: center

        &__link
          +center

          a
            @include font($darkBeige, $regular, 400, 16px, 1)
            text-decoration: none
            margin-left: 15px
            position: relative

            &:hover
              &::after
                opacity: 1
                +transition

            &::after
              background: #ffffff
              height: 1px
              position: absolute
              bottom: 0
              width: 100%
              content: ' '
              left: 0
              right: 0
              opacity: 0.7
              -moz-transition: all 0.4s ease 0s
              -o-transition: all 0.4s ease 0s
              -webkit-transition: all 0.4s ease 0s
              transition: all 0.4s ease 0s
              +transition

.s_stock
  margin-bottom: 80px

  .subtitle
    left: 80px
    top: -115px

.stock
  .innerTitle.star
    max-width: 650px

    &::before
      bottom: 90%
      right: -150px

  &__list
    margin: 0 -10px

    &__item
      margin: 0 10px
      background: $beige
      padding: 40px
      +box
      +border-radius(25px)

      &:nth-child(even)
        background: $darkBeige

      img
        width: 95px
        height: 95px

      &__title
        @include font($white, $regular, 400, 44px, 1.3)
        margin-bottom: 20px

      p
        @include font($white, $pt, 400, 22px, 1.5)
        margin-bottom: 30px

      &__container
        +space-nw
        align-items: center

      &__price
        > div
          @include font($white, $regular, 400, 30px, 1.5)
          position: relative

          &::after
            position: absolute
            display: block
            content: url("../images/fat-arrow.svg")
            width: 30px
            top: 10px
            left: -40px

        &_old
          @include font($white, $regular, 400, 18px, 1)
          text-decoration: line-through
          opacity: 0.4

.s_free
  margin-bottom: 170px

  .wrapper_fullHD
    background: url("../images/free.jpg") right top
    background-size: cover
    +border-radius(25px)

.free
  padding: 100px 0 90px
  position: relative
  display: flex
  align-items: flex-start

  .innerTitle.border::after
    background: $white

  img
    margin-top: -120px

  &__container
    width: 700px

  p
    @include font($textBlack, $pt, 400, 22px, 1.5)
    margin-bottom: 50px

.s_staff
  margin-bottom: 80px

  .subtitle
    left: 80px
    top: -115px

.staff
  &__title
    display: flex
    align-items: flex-end
    margin-bottom: 100px

    .innerTitle
      max-width: 600px
      margin-bottom: 0
      margin-right: 150px

      &.star
        &::before
          top: -70px
          right: 0

  &__list
    margin: 0 -10px

    &__item
      margin: 0 10px

      &.inner
        margin: 0

      img
        height: 500px
        width: 100%
        +cover

      &__container
        position: relative
        +center
        +border-radius(15px)
        overflow: hidden

        &.award::before
          position: absolute
          right: 15px
          top: 25px
          content: url("../images/award.svg")

      &__content
        position: absolute
        padding: 30px
        +box
        left: 0
        right: 0
        bottom: 0

      .btn_beige, .staff-page__list__item .btn_beige
        width: 100%
        padding-top: 25px
        margin-top: -25px
        +border-radius(15px)
        justify-content: center

      &__surname
        @include font($lightBeige, $regular, 400, 55px, 1)
        margin-bottom: 10px

      &__name
        @include font($white, $regular, 400, 26px, 1)
        margin-bottom: 20px

      &__prof
        @include font($white, $regular, 400, 14px, 1)

      &_page
        max-width: 420px


    &_page
      padding: 0
      margin-top: 50px
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
      grid-gap: 20px
      list-style: none

      & .btn_beige
        width: 100%
        padding-top: 25px
        margin-top: -25px
        +border-radius(15px)
        justify-content: center

  &__button-wrapper
    margin: 70px 0 50px
    text-align: -webkit-center
    text-align: center

.s_advantages
  margin-bottom: 80px

.advantages
  .innerTitle.star
    &::before
      top: -20px


  &__list
    +space

    &__item
      width: calc(50%)
      position: relative
      overflow: hidden
      border: 1px solid $subtitle
      +box

      &:first-child
        border-right: none
        +border-radius(25px 0 0 25px)

      &:last-child
        +border-radius(0 25px 25px 0)
        padding: 60px

      &__rgs
        background: $subtitle
        padding: 20px 50px
        +box

        img
          max-width: 100%

      &__container
        padding: 0 50px 50px
        +box

      &__doc
        +center
        margin-top: -30px
        margin-bottom: 25px

      p
        @include font($textBlack, $regular, 400, 22px, 1.5)

        &.border
          position: relative

          &::before
            content: ' '
            width: 25px
            height: 3px
            background: $darkBeige
            position: absolute
            left: 0
            top: -40px

      &__logo
        margin-bottom: 60px

      &__title
        @include font($textBlack, $regular, 400, 42px, 1.2)
        margin-bottom: 30px

        &::before
          content: ' '
          display: block
          width: 25px
          height: 3px
          background: $beige
          margin-bottom: 40px

      &__blur
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: url("../images/advantage.jpg")
        background-size: cover
        +box
        z-index: -1
        opacity: 0.6
        filter: blur(20px)
        border-radius: 25px
        transform: matrix(-1, 0, 0, 1, 0, 0)

.s_news
  margin-bottom: 60px

.news
  &__list
    +space

    &__item
      width: 32%
      color: $beige

      img
        width: 100%
        height: 280px
        +cover
        +border-radius(25px)
        margin-bottom: 25px

      &__title
        @include font($textBlack, $regular, 400, 26px, 1.3)
        margin-bottom: 20px

      p
        @include font($textBlack, $pt, 400, 16px, 1.3)
        margin-bottom: 15px

      &__link
        margin-top: 13px
        @include font($beige, $regular, 400, 15px, 1)
        text-decoration: none

        &::before
          content: '—'

        &:hover
          text-decoration: underline

      &.socials
        background: $subtitle
        padding: 40px
        align-self: flex-start
        +box
        +border-radius(25px)

        .news__list__item
          &__title
            @include font($textBlack, $regular, 400, 26px, 1.3)

        ul
          list-style: none
          padding: 0
          margin: 0

        li
          &:not(:last-child)
            margin-bottom: 15px

        .btn_bordered
          border-width: 2px
          width: 100%
          line-height: 55px
          @include font($beige, $bold, 700, 18px, 55px)
          padding: 0 20px 0 70px

          &.insta
            background: url("../images/insta.svg") no-repeat 5px

          &.vk
            background: url("../images/vk.svg") no-repeat 5px

          &.face
            background: url("../images/face.svg") no-repeat 5px
      &.news-page
        width: 100%

  &_page
    margin: 55px 0
    display: flex
    &__list
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
      gap: 40px
      &__item
        display: flex
        flex-direction: column
        & p
          @include font($gray, $pt, 400, 16px)


