@media only screen and (max-width: 640px)
  .spec__list__item
    width: 100%

  .news__list__item
    width: 100%

  .footer__column
    width: 100%

  .staff
    &__list
      &__item
        &_page
          margin: 0 auto

  .services
    &__item
      & img
        width: 100%
        height: 100%
      &__title
        font-size: 30px
        top: 30px
        &:after
          margin-top: 8px
      &__list
        top: 80px
        font-size: 18px

  .superiors
    &__card
      padding: 40px 30px 25px
      & img
        margin-right: 0
      &__surname
        margin-top: 0
        font-size: 40px
      &__info
        &__main
          margin-bottom: 25px
          flex-direction: column
          align-items: center

  .clinic
    &__intro
      &__mdesays
        width: unset
    &__advantages
      &__item
        margin-top: 60px
        font-size: 20px



